@charset "utf-8";


body{
    background: #2b3e63;
}

#logo{
    position: relative;
    height: 10vh;
    float: none;
    
}

#header-wrapper{
    position: relative;
    background: #2e6a8d;
    display: inline-block;
}